html {
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    width: 100%;
    margin: 0;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 2em 0 2em;
}

header {
    background-color:#2d3945;
    color:#f2f2f2;
}

.intro{
    text-align: center;
}

fieldset {
    border: none;
}

legend {
    font-weight: 700;
}

.user {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 700;
    margin-bottom: 10px;
}

#zipcode{
    width: 50%;
    text-align: left;
    font-weight: 700;
    padding: 15px; 
}

input[type=text],
input[type=tel],
select {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #cbf7fa;
    color: black;
    cursor: pointer;
}

input::placeholder{
    text-align: right;
    font-weight: 400;
}

input:focus,
select:focus,
textarea:focus {
    transition: all 0.5s ease-out;
    background-color: #fbfeff;
    outline: 3px solid rgb(45, 43, 65);
}

.info{
    margin-bottom: 20px;
    text-align: left;
    font-size: 400;
    font-size: 1em;
}

#checks,
#radio{
    text-align: left;
    font-weight: 400;  
}

#topics {
    box-sizing: border-box;
    color: #708186;
    cursor: pointer;
    width: 100%;
    height: 70px;
}

button {
    color: rgb(14, 13, 13);
    padding: 19px 30px 19px 30px;
    background-color: #20B2AA;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    width: 100%;
  }

  footer {
    display: flex;
    padding: 18px;
    width: 100%;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: #D3D3D3;
  }

  @media only screen and (min-width: 768px){

    main{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .user{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        margin: 30px;
        font-weight: 700;
    }
    
    .user input,
    select {
        align-self: flex-end;
        width: 60%;
        flex-direction: column;
        border-radius: 5px;
        margin: 7px;
    }

    .user label {
        align-self: flex-start;
        width: 30%;
        flex-direction: column;
        margin: 7px;
    }
   
    #zipcode{
        width: 25%;
        text-align: left;
        font-weight: 700;
        padding: 15px; 
    }

 }

  #top-bar {
    height: 4px;
    border-top: 5px solid rgb(0 0 0);
    border-bottom: 2px solid rgb(0 0 0);
    width: 95%;
  }
  
  #bottom-bar {
    border: 2px rgb(45, 43, 65) solid;
    width: 95%;
  }